@keyframes scale-letters {
  0% {
    transform: scale(1) translateZ(0);
  }
  25% {
    transform: scale(2.2) translateZ(0);
    opacity: 1;
  }

  50% {
    transform: scale(.5) translateZ(0);
  }
  60% {
    transform: scale(1) translateZ(0);
    /* padding-top:5px;
    padding-bottom: 5px; */
  }
  80% {

    /* padding-top:0px;
    padding-bottom: 0px; */
  }
  90% {

  }
}
@keyframes scale-letters-mb {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2.2);
    opacity: 1;
  }

  50% {
    transform: scale(.5);
    opacity: 0.1;
  }
  55% {
    transform: scale(1);
    opacity: 1;
  }
  65% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@@keyframes onload-drop {

}
.about-span {
  animation: onload-drop 1s ease;
}
.scale-letters {
  animation: scale-letters 1s ease;
}
.scale-letters-mb {
  animation: scale-letters-mb 1s ease;
}
.span2 {
  animation-delay:.1s;
}
.span3 {
  animation-delay: .2s;
}
.span4 {
  animation-delay: .3s;
}
.span5 {
  animation-delay:.4s;
}


@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.about-header {
  animation-name: about-header;
  animation-duration: 1s;
}
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
