@keyframes scale-letters {
  0% {
    transform: scale(1) translateZ(0);
  }
  25% {
    transform: scale(2.2) translateZ(0);
    opacity: 1;
  }

  50% {
    transform: scale(.5) translateZ(0);
  }
  60% {
    transform: scale(1) translateZ(0);
    /* padding-top:5px;
    padding-bottom: 5px; */
  }
  80% {

    /* padding-top:0px;
    padding-bottom: 0px; */
  }
  90% {

  }
}
@keyframes scale-letters-mb {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);

  }
  25% {
    transform: scale(2.2);
    -webkit-transform: scale(2.2);
    -moz-transform: scale(2.2);
    -o-transform: scale(2.2);
    opacity: 1;
  }

  50% {
    transform: scale(.5);
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -o-transform: scale(.5);
    opacity: 0.1;
  }
  55% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    opacity: 1;
  }
  65% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    v
    opacity: 1;
  }
}


.about-span {
  animation: onload-drop 1s ease;
}
.scale-letters {
  animation: scale-letters 1s ease;
}
.scale-letters-mb {
  animation: scale-letters-mb 1s ease;
}
.span2 {
  animation-delay:.1s;
}
.span3 {
  animation-delay: .2s;
}
.span4 {
  animation-delay: .3s;
}
.span5 {
  animation-delay:.4s;
}


@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.about-header {
  animation-name: about-header;
  animation-duration: 1s;
}

@keyframes scale-letters-header-load {
  0% {
    transform: scale(0);

  }
  50% {
    transform: scale(1.7);
  }

  70% {
    transform: scale(.5);
  }
  75% {
    transform: scale(1);
  }
  85% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

/* @keyframes scale-letters-header-load {
  0% {
    transform: scale(0);

  }
  25% {
    transform: scale(1.7);
  }

  37.5% {
    transform: scale(1);
  }
  62.5% {
    transform: scale(1.5);
  }
  75% {
    transform: scale(1);
  }
  87.5% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
} */

/* @keyframes scale-letters-header-load {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.7, 1.7, 1.7);
    transform: scale3d(1.7, 1.7, 1.7);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.4, 1.4, 1.4);
    transform: scale3d(1.4, 1.4, 1.4);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
} */

.scale-letters-header-load {
  animation: scale-letters-header-load 1.2s ease;
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes crackopen {
	from {
		background-color: @inner-color;
		transform: perspective(15vw) rotateY(-13deg);
	}
	to {
		background-color: lighten(@inner-color, 5%);
		transform: perspective(20vw) rotateY(-90deg);
	}
}

@keyframes crack {
	to {
		transform: perspective(150px) rotateY(-13deg);
	}
}
