* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Arial;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
body {
  overflow: hidden;
  background: #000;
}
.barba-container {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.logo {
  width: 210px;
  height: 68px;
  position: absolute;
  top:15px;
  left:60px;
  z-index: 100;
}

.main-logo{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 67px;
}
#mb-logo {
  opacity: 1;
  position: absolute;
  /* top:30px; */
  top:0;
  left:0;
  width: 67px;
  height: 50px;
  /* transform: scale(0); */
}
.big-rq {
  position: absolute;
  /* top:45px; */
  /* left:-80px; */
  top:5px;
  left:7px;
  width: 33px;
  height: 33px;
  border:1px solid #fff;
  background:#000;
  opacity: 1;
  z-index: -10;
  border-radius: 3px;
  transform:rotate(47deg);

}
.small-rq {
  position: absolute;
  /* top:40px; */
  /* left:85px; */
  top:10px;
  left:25px;
  border:1px solid #fff;
  transform: rotate(22deg);
  opacity:1;
  width: 29px;
  height: 29px;
  z-index: -20;
  border-radius: 3px;
}
.logo-name {
  margin-top: 50px;
}
.logo-name span {
  display: inline-block;
  padding:0;
  opacity:1;
  font-size: 10px;
  letter-spacing: 1px;
  backface-visibility: hidden;
}
/* nav {
  position: fixed;
  top:0;
  left:60px;
  height: 40px;
  text-align: center;
  z-index: 10;
}
nav ul li {
  display: inline-block;
}

nav ul li a {
  color:#fff;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 1px;
}
nav ul li a span {
  display: inline-block;
  padding:0;
  opacity:0;
  font-size: 10px;
} */
h1 {
  color:#fff;
  position: absolute;
  top:50%;
  left:20%;
  transform: translate(-20%, -50%);
  z-index: 10;
}
h1 div {
  letter-spacing: 5px;
}
.hello {
  font-size: 80px;
}
.hello-header span {
  display: inline-block;
  transform: scale(0);
  transition: color .3s ease;
}
/* .hello-header span:hover {
 color:purple;
} */
.hello-header:hover {
  cursor:default;
}
.iam {
  font-size: 60px;
  margin-top: -30px;
  margin-left: 2px;
}
.developer {
  font-size: 40px;
  margin-top: -20px;
  margin-left: 3px;
  letter-spacing: 3.3px;
}
.based {
  font-size: 20px;
  float: right;
  margin-top: -5px;
  letter-spacing: 1.5px;
  margin-right: 45px;
}
#big-ben {
  position: absolute;
  width: 15px;
  height: 77px;
  bottom: 5px;
  right: 32px;
  transform: scaleY(0);
  transform-origin: bottom;
}
#london-bus {
  position: absolute;
  width: 43px;
  right:140px;
  bottom: -10px;
  opacity:0;
}

#about-img {
  width: 100%;
  height: 100vh;
  opacity:0.2;
  z-index: -1;
}
#home-page {
  width: 100%;
  height: 100vh;
  background: #000;
}
#about-page {
  width: 100%;
  height: 100vh;
  background: #000;
}
.overlay {
  position: fixed;
  top:0;
  left:0;
  background:red;
  width: 100%;
  height: 100vh;
  z-index: 10;
  transform: scaleX(0);
}
a {
  color:#fff;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.wa {
  padding-top:20px;
  padding-bottom: 20px;
}
.wa span {
  display: block;
  font-size: 20px;
  transition: transform 1s ease;
  padding-left: 20px;
  padding-right: 20px;
  opacity: .5;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}
.about span {
  transform: translateX(-40px);
}
.work span {
  transform: translateX(40px);
}

.gradient {
  /* display:none; */
  z-index: 0;
  position: absolute;
  top:50%;
  left:70%;
  transform: translate(-50%,-50%);
  width: 0px;
  height: 0px;
  /* background: radial-gradient(
   ellipse at center,
   rgba(0, 0, 0, 1) 0%,
   rgba(57, 79, 167, 1) 0%,
   rgba(21, 28, 60, 1) 64%,
   rgba(0, 0, 0, 1) 100%
 ); */
 background: -webkit-radial-gradient(
   center,
   circle contain,
   rgba(0, 0, 0, 1) 0%,
   rgba(255, 255, 255, 1) 0%,
   rgba(100, 100, 100, 1) 64%,
   rgba(0, 0, 0, 1) 100%
 );
}
.door-bg {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
}
.door-outter {
  position: absolute;
  top:50%;
  left:70%;
  transform: translate(-50%,-50%);
  height: 322px;
  width: 168px;
  opacity:0;
  transition: opacity 4s ease;
}
.door-wrapper {
  /* display: none; */
  height: 318px;
  width: 166px;
  background:#fff;
  /* background:black; */

  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
  border: 1px solid #fff;
}
.door {
  /* display:none; */
  height: 319px;
  width: 168px;
  background:#000;
  position: absolute;
  top:0px;
  left:-1px;
  transform-origin: left;
  /* transition: all 1s ease; */
  outline: 1px solid transparent;
}
.door p {
  position: absolute;
  top:50%;
  right:0;
  color:#fff;
  font-size: 12px;
  transform: translateX(40%) rotate(-90deg);
  transition: opacity 2s ease;
  cursor: default;
}

.door-pin1 {
  height: 30px;
  width: 10px;
  background:#000;
  position: absolute;
  top:30px;
  left:-8px;
  z-index: 10;
}
.door-pin2 {
  height: 30px;
  width: 10px;
  background:#000;
  position: absolute;
  bottom:30px;
  left:-8px;
  z-index: 10;
}

.open {
	animation: crack 2s cubic-bezier(.46, .59, .53, 1) forwards;
}
.door-open {
  transform: perspective(300px) rotateY(13deg);
}

.full-open {
  transform: perspective(400px) rotateY(90deg);
}


/* span:hover {
  transform: scaleX(2);
} */
.about {
  position: absolute;
  top:50%;
  left:0;
  transform: translateY(-50%);
  z-index: 10;
}
.back-about {
  position: absolute;
  top:50%;
  left:0;
  transform: translateY(-50%);
  z-index: 10;
}

.work {
  position: absolute;
  top:50%;
  right:0;
  transform: translateY(-50%);
  z-index: 10;
}
.work-span-door-hover {
  padding-top: 10px;
  font-size: 30px;
}

/* .wa span.back-span {
 display: none;
} */
