* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body {
  width: 100%;
  font-size: 1rem;
  background: #000;
  color: #fff;
  font-family: Arial;
}
.body-ov-hidden {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: fixed;
}
a {
  text-decoration: none;
  color:#fff;
}
ul {
  list-style-type: none;
}
.container {
  width: 100%;
  padding: 0 1rem;
}
#barba-wrapper {
  /* opacity:0; */
}
/********** Main header rules **********/
#nav-bar {
  width: 100%;
  position: fixed;
  top:0;
  left:0;
  z-index: 1000;
  transform:translateY(-100%);
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
}
#nav-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:1rem 0;
}
#logo-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#logo-wrapper {
  position: relative;
  display: flex;
  width: 67px;
}
#logo-name {
  padding-top: .5rem;
  font-size: .6rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
}
#logo-section img {
  width: 67px;
  height: 50px;
  z-index: 10;
}
#logo-big-rec {
  position: absolute;
  width: 33px;
  height: 33px;
  border: 1px solid #fff;
  border-radius: 3px;
  transform:rotate(47deg) translate(9px,0px);
  -webkit-transform: rotate(47deg) translate(9px,0px);
  -ms-transform: rotate(47deg) translate(9px,0px);
  -moz-transform: rotate(47deg) translate(9px,0px);
  background:#000;
  z-index: 5;
}
#logo-small-rec {
  position: absolute;
  width: 29px;
  height: 29px;
  border:1px solid #fff;
  border-radius: 3px;
  transform:rotate(22deg) translate(27px,2px);
  -webkit-transform: rotate(22deg) translate(27px,2px);
  -ms-transform: rotate(22deg) translate(27px,2px);
  -moz-transform: rotate(22deg) translate(27px,2px);
  z-index: 1;
}
#nav-btn {
  height: 30px;
  z-index: 1000;
  cursor: pointer;
}
#nav-btn-wrapper {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: space-around;
}
.nav-stick {
  height: 50%;
  width: 2px;
  background:#fff;
}
.left-nav-stick-bot, .right-nav-stick-bot {
  will-change: transform;
  transform-origin: top;
}
.left-nav-stick-top, .right-nav-stick-top {
  transform-origin: bottom;
}
.nav-stick-middle {
  width: 2px;
  height: 0%;
  background: #fff;
  transform-origin: top;
  transform: rotate(27deg) translate(7px,-7px);
  -webkit-transform: rotate(27deg) translate(7px, -7px);
  -ms-transform: rotate(27deg) translate(7px, -7px);
  -moz-transform: rotate(27deg) translate(7px, -7px);
}
#left-nav-overlay {
  position: fixed;
  width: 0;
  height: 100vh;
  top:0;
  left: 0;
  background:rgba(0,0,0, .9);
  z-index: 20;
}
#right-nav-overlay {
  position: fixed;
  width: 0;
  height: 100vh;
  top:0;
  right: 0;
  background:rgba(0,0,0, .9);
  z-index: 20;
}
/********** Home page rules **********/
#home-header {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}
#home-header h1 {
  grid-row: 1/3;
  overflow: hidden;
  max-width: 311px;
  width: 100%;
  justify-self: center;
  padding: 0 1rem;
  cursor: default;
}
#home-header-word-line-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
}
#home-header-word-line-wrapper span {
}
#hello {
  font-size: 3rem;
  transform: scale(1.0);
  -webkit-transform: scale(1.0);
  -ms-transform: scale(1.0);
  -moz-transform: scale(1.0);
}
#i-am-mantvydas {
  transform:translate(1px,-17px);
  -webkit-transform: translate(1px,-17px);
  -ms-transform: translate(1px,-17px);
  -moz-transform: translate(1px,-17px);
}
#i-am-mantvydas span {
  font-size: 2rem;
}
#frontend-developer  {
  transform:translate(1px,-37px);
  -webkit-transform: translate(1px,-37px);
  -ms-transform: translate(1px,-37px);
  -moz-transform: translate(1px,-37px);
}
#frontend-developer span {
  font-size: 1.5rem;
}
#based  {
  height: 0px;
  transform:translate(0px,-80px);
  -webkit-transform: translate(0px,-80px);
  -ms-transform: translate(0px,-80px);
  -moz-transform: translate(0px,-80px);
  align-self: flex-end;
}
#based span {
  font-size: 1rem;
}
#big-ben, #london-bus {
  opacity:0;
}
#big-ben {
  width: 10px;
  transform-origin: bottom;
}
#london-bus {
  width: 30px;
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -moz-transform: translateY(10px);
}
main {
  width: 100%;
  height: 100vh;
}
#img-holder {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top:0;
  left:0;
  z-index: -10;
}
#img-holder img {
  position: absolute;
  right: 50%;
  bottom: 0;
  height: 60vh;
  transform: translateX(60%);
  -webkit-transform: translateX(60%);
  -ms-transform: translateX(60%);
  -moz-transform: translateX(60%);
  opacity:0;
}
.home-page-link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: rgba(255,255,255, 0);
}
#social-links {
  display: flex;
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  z-index: 1000;
  justify-content: space-around;
  padding:1rem 4rem;
  background:rgba(0,0,0, .9);
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -moz-transform: translateY(100%);
}
#social-links a {
  position: relative;
  display: inline-block;
}
#social-links i {
  font-size: .8rem;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
.social-links-box {
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
  position: relative;
  transform:rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}
#home-header-word-line-wrapper span {
  display: inline-block;
  opacity:0;
}
/********** MEDIA QUERIES **********/
@media (min-width: 600px) {
  #img-holder img {
    right:0;
    transform:translateX(10%);
    -webkit-transform: translateX(10%);
    -ms-transform: translateX(10%);
    -moz-transform: translateX(10%);
    height: 75vh;
  }
  #home-header {
    grid-template-columns: 2fr 1fr;
  }
  #home-header h1 {
    grid-row: 2/3;
    max-width: 386px;
    max-height: 130px;
    letter-spacing: 1.5px;
  }
  #hello {
    font-size: 3.5rem;
    transform:translateY(3px);
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -moz-transform: translateY(3px);
  }
  #i-am-mantvydas span {
    font-size: 2.5rem;
  }
  #frontend-developer span {
    font-size:1.7rem;
  }
}
@media (min-width: 900px) {
  #img-holder img {
    height: 90vh;
  }
  #home-header h1 {
    grid-row: 2/3;
    max-width: 515px;
    letter-spacing: 5px;
    max-height: 165px;
  }
  #hello {
    font-size: 4rem;
    transform:translateY(7px);
    -webkit-transform: translateY(7px);
    -ms-transform: translateY(7px);
    -moz-transform: translateY(7px);
  }
  #i-am-mantvydas span {
    font-size: 3rem;
  }
  #home-header h1 #frontend-developer {
    letter-spacing: 3.3px;
  }
  #home-header h1 #based{
    letter-spacing: 1.5px;
  }
  #frontend-developer span {
    font-size:2.5rem;
  }
}
@media (min-width: 1024px) {
  #nav-btn {
    display: none;
  }
  #left-nav-overlay, #right-nav-overlay {
    display: flex;
    /* width: 5%; */
    background:none;
    justify-content: center;
    align-items: center;
  }
  .home-page-link {
    /* color:rgba(255,255,255, 1); */
    height: 0;
  }
  #social-links {
    display: flex;
    justify-content: space-around;
    background: rgba(0,0,0, 0);
    max-width: 150px;
    right: 0;
    left: auto;
    padding:1rem;
  }
  #social-links i {
    font-size: .7rem;
  }
  .social-links-box {
    width: 20px;
    height: 20px;
  }
}
@media (min-width: 1440px) {
  #home-header h1 {
    max-width: 625px;
    max-height: 215px;
  }
  #hello {
    font-size: 5rem;
    transform:translateY(15px);
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -moz-transform: translateY(15px);
  }
  #i-am-mantvydas span {
    font-size: 4rem;
  }
  #frontend-developer span {
    font-size:3rem;
  }
  #based span {
    font-size: 2rem;
  }
  #big-ben {
    width: 15px;
  }
  #london-bus {
    width: 40px;
  }
  #based {
    transform: translate(0px,-100px);
    -webkit-transform: translate(0px,-100px);
    -ms-transform: translate(0px,-100px);
    -moz-transform: translate(0px,-100px);
    align-self: flex-end;
  }
  #img-holder img {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -moz-transform: translateX(0%);
  }
}
/* @media (min-width: 600px) and (min-height: 565px) {
  #img-holder img {
    transform:translateX(30%);
    -webkit-transform: translateX(30%);
    -ms-transform: translateX(30%);
    -moz-transform: translateX(30%);
  }
}
@media (min-width: 600px) and (min-height: 770px) {
  #img-holder img {
    transform:translateX(40%);
    -webkit-transform: translateX(40%);
    -ms-transform: translateX(40%);
    -moz-transform: translateX(40%);
  }
} */
