$color_primary: #000;
$color_white: #fff;
$font-color: $color_white;

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body {
  width: 100%;
  font-size: 1rem;
  color: $font-color;
  font-family: Arial;
  // background:#00041c;
  background:#000;
}
.body-ov-hidden {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: fixed;
}
a {
  text-decoration: none;
  color:$font-color;
}
ul {
  list-style-type: none;
}
.container {
  width: 100%;
  padding: 0 1rem;
}
#stars-container {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  z-index: -20;
}
.twin {
  z-index: -10;
  will-change: transform;
  transform:translateZ(0);
  position: absolute;
  left:0;
  top:0;
  width: 200%;
  height: 200%;
  background-image: url('../../twinkling.png');
}
/******************** Main header rules *************************/
#nav-bar {
  width: 100%;
  position: fixed;
  top:0;
  left:0;
  z-index: 1000;
  @include transform(translateY(-100%));
  #nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 0;
  }
  #logo-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #logo-wrapper {
    position: relative;
    display: flex;
    width: 67px;
    svg {
      width: 100px;
    }
  }
  #logo-name {
    display:none;
    padding-top: .5rem;
    font-size: .6rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
  }
  #logo-section img {
    width: 67px;
    height: 50px;
    z-index: 10;
  }
  #logo-big-rec {
    position: absolute;
    width: 33px;
    height: 33px;
    border: 1px solid $color_white;
    border-radius: 3px;
    @include transform(rotate(47deg) translate(9px, 0px));
    background:#000;
    z-index: 5;
  }
  #logo-small-rec {
    position: absolute;
    width: 29px;
    height: 29px;
    border:1px solid $color_white;
    border-radius: 3px;
    @include transform(rotate(22deg) translate(27px, 2px));
    z-index: 1;
  }
  #nav-btn {
    height: 30px;
    z-index: 1000;
    cursor: pointer;
  }
  #nav-btn-wrapper {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: space-around;
  }
  .nav-stick {
    height: 50%;
    width: 2px;
    background:$color_white;
  }
  .left-nav-stick-bot, .right-nav-stick-bot {
    will-change: transform;
    transform-origin: top;
  }
  .left-nav-stick-top, .right-nav-stick-top {
    transform-origin: bottom;
  }
  .nav-stick-middle {
    width: 2px;
    height: 0%;
    background: $color_white;
    transform-origin: top;
    @include transform(rotate(27deg) translate(7px, -7px));
  }
}
%nav-overlay-shared {
  position: fixed;
  width: 50%;
  height: 100vh;
  top:0;
  background:rgba(0,0,0, .9);
  z-index: 20;
}
#left-nav-overlay {
  left: 0;
  @extend %nav-overlay-shared;
  transform:translateX(-100%);
}
#right-nav-overlay {
  right: 0;
  transform:translateX(100%);
  @extend %nav-overlay-shared;
}
/***************** HOME PAGE RULES *******************/
main {
  width: 100%;
  height: 100vh;
}
#home-header {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
   h1 {
    grid-row: 1/3;
    overflow: hidden;
    max-width: 311px;
    width: 100%;
    justify-self: center;
    padding: 0 1rem;
    cursor: default;
  }
}
#home-header-word-line-wrapper {
  will-change: transform;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  @include transform(scale(1));
  span {
    backface-visibility: hidden;
    display: inline-block;
    opacity:0;
  }
}
#hello {
  width: 100%;
  font-size: 3rem;
  @include transform(scale(1.0));
}
#i-am-mantvydas {
  width: 100%;
  @include transform(translate(1px, -17px));
  span {
    font-size: 2rem;
  }
}
#frontend-developer  {
  @include transform(translate(1px, -37px));
  width: 100%;
  span {
    font-size: 1.5rem;
  }
}
#based  {
  height: 0px;
  width: 100%;
  text-align: right;
  @include transform(translate(0px, -80px));
  align-self: flex-end;
  span {
    font-size: 1rem;
  }
}
#big-ben, #london-bus {
  opacity:0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
#big-ben {
  width: 10px;
  transform-origin: bottom;
}
#london-bus {
  width: 30px;
  @include transform(translateY(15px));
}
#img-holder-section{
  will-change: transform;
  @include transform(translateZ(0));
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
  outline: 1px solid transparent;
  -webkit-backface-visibility: hidden;
}
.img-holder {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  position: absolute;
  bottom:0;
  left:0;
  z-index: -10;
  @include transform(translateZ(0));
  -webkit-backface-visibility: hidden;
  img {
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    will-change: transform;
    @include transform(translateX(22%) translateZ(0));
    visibility: hidden;
  }
  div {
    position: absolute;
    right: 50%;
    bottom: 0;
    height: 90vh;
    opacity:0;
    @include transform(translateX(60%) translateZ(0));
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
  }
}
.home-page-link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: rgba(255,255,255, 0);
  @include transform(scale(1));
  span {
    padding:0 1rem;
    backface-visibility: hidden;
  }
}
#social-links {
  display: flex;
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  z-index: 1000;
  justify-content: space-around;
  padding:1rem 4rem;
  background:rgba(0,0,0, .9);
  @include transform(translateY(100%));
  a {
    position: relative;
    display: inline-block;
    &:hover .social-links-box {
      @include transform(rotate(90deg));
    }
  }
  i {
    font-size: .8rem;
    position: absolute;
    top:50%;
    left:50%;
    @include transform(translate(-50%, -50%));
  }
}
.social-links-box {
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
  position: relative;
  transition: transform .3s;
  @include transform(rotate(45deg));
}

/****************** ABOUT PAGE RULES ********************/
#about-pos-header-container {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  align-items: start;
}
#about-header {
  justify-self: center;
  opacity:0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 300px;
  h1 {
    font-size: 2rem;
    padding-bottom:1rem;
  }
}
#skillset {
  padding-top: .5rem;
}
#about-me-img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -10;
  height: 100%;
  opacity:0;
}
#earth {
  will-change: transform;
  position: absolute;
  bottom:0;
  left:0;
  width: 100%;
  transform:translateY(50%) translateZ(0);
}
/****************** WORKS PAGE RULES ********************/
#works-page {
  padding-top: 82px;
  display: grid;
}
#works-page-main-header {
  opacity: 0;
  padding:0 1rem;
  text-align: center;
  h1 {
    padding-bottom: .5rem;
  }
}
#works-thumbnails {
  overflow-scrolling: touch;
  opacity:0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  article {
    padding: 1rem;
    text-align: right
  }
}
%number {
  font-size: 2rem;
  position: absolute;
  top:0;
  left:0;
  transform:translate(50%, 50%) scaleY(1.2);
}
%tech {
  font-size: .9rem;
  color: #999;
}
%design {
  padding-bottom: .5rem;
}
#seven-seals-of-event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background: #111;
  color: #fff;
  z-index: 10;
  .number {
    color: yellow;
    @extend %number;
  }
   img {
     width: 40px;
     align-self: center;
     justify-self:center;
  }
  a {
    border: 1px solid yellow;
    padding:1rem;
    margin-top: 1rem;
    display: inline-block;
  }
}
.design {
  @extend %design;
}
.tech {
  @extend %tech;
}
#my-portfolio {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #333;
  color: #fff;
  .number {
    color: #fff;
    @extend %number;
  }
  img {
    width: 40px;
  }
  a {
    border: 1px solid #fff;
    padding:1rem;
    margin-top: 1rem;
    display: inline-block;
  }
}
/********** Seven Seals of Event page ************/
#seven-seals-of-event-page {
  // display: grid;
  // grid-template-rows: 1fr 1fr;
  // justify-content: center;
}
#full-vh-section {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  header {
    margin:1rem;
    padding:1rem;
    margin-top: 82px;
    text-align: right;
    // height: 231px;
    position: relative;
    background: rgba(000,000,000, .6);
    h1 {
      font-size: 1.5rem;
    }
    .bg-img {
      position: absolute;
      top:0;
      left:0;
      background-image: url('../../ssoe.jpg');
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      z-index: -10;
      filter:blur(1px);
    }
    a {
      border: 1px solid #fff;
      display: inline-block;
      padding:1rem;
      margin-top: 1rem;
    }
  }
}
#about-seven-seals-of-event {
  text-align: center;
  padding:1rem;
    h2 {
      padding:1rem;
    }
}
#aim {
  text-align: center;
  padding:1rem;
  h2 {
    padding-bottom:1rem;
  }
}
#development-process {
  text-align: center;
  padding:1rem;
  h2 {
    padding-bottom:1rem;
  }
}
/*********** MEDIA QUERIES *********/
@media (min-width: 600px) {
  .img-holder  {
    height: 75vh;
    img {
      right:0;
      @include transform(translateX(25%));
    }
  }
  #home-header {
    grid-template-columns: 2fr 1fr;
    h1 {
      grid-row: 2/3;
      max-width: 386px;
      max-height: 130px;
      letter-spacing: 1.5px;
    }
  }
  #hello {
    font-size: 3.5rem;
    @include transform(translateY(3px));
  }
  #i-am-mantvydas span {
    font-size: 2.5rem;
  }
  #frontend-developer span {
    font-size:1.7rem;
  }
  #earth {
    left: auto;
    right:0;
    top:50%;
    transform: translate(50%, -50%);
    width: auto;;
    height: 80%;
  }
  #about-pos-header-container {
    grid-template-columns: 3fr 1fr;
    align-items: center;
    #about-header {
      max-width: 500px;
      padding: 0 2rem;
    }
  }
}
@media (min-width: 700px) {
  #about-header {
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
}
@media (min-width: 900px) {
  .img-holder {
    height: 90vh;
    img {
      @include transform(translateX(20%));
    }
  }
  #home-header h1 {
    grid-row: 2/3;
    max-width: 515px;
    letter-spacing: 5px;
    max-height: 165px;
    #frontend-developer {
      letter-spacing: 3.3px;
    }
    #based {
      letter-spacing: 1.5px;
    }
  }
  #hello {
    font-size: 4rem;
    @include transform(translateY(7px));
  }
  #i-am-mantvydas span {
    font-size: 3rem;
  }
  #frontend-developer span {
    font-size:2.5rem;
  }
}
@media (min-width: 1024px) {
  #about-pos-header-container {
    grid-template-columns: 2fr 1fr;
    align-items: center;
    #about-header {
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 1.4rem;
      }
    }
  }
  #nav-btn {
    display: none;
  }
  #nav-bar #logo-name {
    display: block;
  }
  #left-nav-overlay, #right-nav-overlay {
    display: flex;
    background:none;
    justify-content: center;
    align-items: center;
  }
  .home-page-link {
    height: 150px;
  }
  #social-links {
    display: flex;
    justify-content: space-around;
    background: rgba(0,0,0, 0);
    max-width: 150px;
    right: 0;
    left: auto;
    padding:1rem;
    i {
      font-size: .7rem;
    }
  }
  .social-links-box {
    width: 20px;
    height: 20px;
  }
  #earth {
    right:5%;
    @include transform(translate(0, -50%));
  }
}
@media (min-width: 1440px) {
  #about-pos-header-container {
    #about-header {
      max-width: 600px;
    }
  }
  #home-header h1 {
    max-width: 579px;
    max-height: 215px;
  }
  #hello {
    font-size: 5rem;
    @include transform(translateY(15px));
  }
  #i-am-mantvydas span {
    font-size: 3.75rem;
  }
  #frontend-developer span {
    font-size:2.5rem;
  }
  #big-ben {
    width: 15px;
  }
  #london-bus {
    width: 40px;
  }
  #based {
    @include transform(translate(0px,-106px));
    align-self: flex-end;
    span {
      font-size: 1.25rem;
    }
  }
}
/*testing stars*/
#stars-small {
  will-change: transform;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 724px 80px #FFF , 1830px 1582px #FFF , 928px 1303px #FFF , 207px 615px #FFF , 1157px 923px #FFF , 1989px 1643px #FFF , 714px 205px #FFF , 261px 799px #FFF , 1435px 1772px #FFF , 1458px 1766px #FFF , 1807px 73px #FFF , 1964px 1821px #FFF , 613px 1673px #FFF , 849px 1628px #FFF , 43px 1071px #FFF , 446px 660px #FFF , 282px 899px #FFF , 1203px 262px #FFF , 564px 1736px #FFF , 847px 1745px #FFF , 584px 228px #FFF , 177px 353px #FFF , 1967px 839px #FFF , 851px 543px #FFF , 1607px 1718px #FFF , 616px 885px #FFF , 73px 644px #FFF , 325px 1164px #FFF , 303px 22px #FFF , 575px 1509px #FFF , 1597px 925px #FFF , 183px 618px #FFF , 1304px 1822px #FFF , 1929px 896px #FFF , 1182px 602px #FFF , 463px 1686px #FFF , 754px 1187px #FFF , 1567px 1950px #FFF , 1680px 1994px #FFF , 1369px 157px #FFF , 96px 639px #FFF , 1485px 1264px #FFF , 1973px 518px #FFF , 1105px 1690px #FFF , 1130px 674px #FFF , 429px 504px #FFF , 1078px 385px #FFF , 1535px 1017px #FFF , 923px 1529px #FFF , 1541px 504px #FFF , 305px 1597px #FFF , 1014px 107px #FFF , 1294px 1111px #FFF , 447px 147px #FFF , 101px 774px #FFF , 36px 1849px #FFF , 761px 1142px #FFF , 192px 502px #FFF , 1341px 7px #FFF , 101px 1629px #FFF , 342px 800px #FFF , 223px 886px #FFF , 1694px 1488px #FFF , 1608px 714px #FFF , 590px 1046px #FFF , 1240px 1652px #FFF , 1967px 1731px #FFF , 431px 541px #FFF , 750px 667px #FFF , 446px 78px #FFF , 1408px 804px #FFF , 1132px 1644px #FFF , 1083px 1449px #FFF , 1442px 527px #FFF , 1409px 1264px #FFF , 1709px 775px #FFF , 695px 1309px #FFF , 409px 22px #FFF , 363px 224px #FFF , 1398px 138px #FFF , 1307px 1450px #FFF , 1329px 1252px #FFF , 525px 1096px #FFF , 655px 1865px #FFF , 696px 518px #FFF , 622px 1098px #FFF , 778px 1443px #FFF , 110px 1823px #FFF , 1754px 1814px #FFF , 1798px 750px #FFF , 482px 408px #FFF , 320px 823px #FFF , 630px 1144px #FFF , 258px 1729px #FFF , 1652px 1275px #FFF , 907px 375px #FFF , 1548px 610px #FFF , 1928px 1299px #FFF , 469px 15px #FFF , 808px 178px #FFF , 991px 775px #FFF , 520px 544px #FFF , 1027px 656px #FFF , 439px 1671px #FFF , 1704px 1569px #FFF , 1166px 1077px #FFF , 524px 1776px #FFF , 1081px 1363px #FFF , 1478px 866px #FFF , 1844px 1467px #FFF , 863px 578px #FFF , 1479px 386px #FFF , 944px 1292px #FFF , 1870px 78px #FFF , 714px 917px #FFF , 240px 286px #FFF , 722px 525px #FFF , 1075px 483px #FFF , 1404px 999px #FFF , 1201px 569px #FFF , 57px 1938px #FFF , 684px 1706px #FFF , 1254px 125px #FFF , 39px 468px #FFF , 1042px 755px #FFF , 1037px 549px #FFF , 1146px 833px #FFF , 1093px 1127px #FFF , 447px 679px #FFF , 221px 1882px #FFF , 667px 159px #FFF , 40px 675px #FFF , 1225px 827px #FFF , 1649px 77px #FFF , 1245px 328px #FFF , 969px 1461px #FFF , 898px 1227px #FFF , 1454px 15px #FFF , 1275px 797px #FFF , 593px 67px #FFF , 591px 114px #FFF , 1403px 195px #FFF , 718px 620px #FFF , 1337px 802px #FFF , 274px 1166px #FFF , 170px 1947px #FFF , 737px 843px #FFF , 378px 794px #FFF , 1368px 169px #FFF , 1673px 1847px #FFF , 1302px 1796px #FFF , 618px 737px #FFF , 1231px 1741px #FFF , 1958px 1855px #FFF , 667px 1983px #FFF , 795px 1970px #FFF , 254px 1459px #FFF , 734px 878px #FFF , 486px 1884px #FFF , 416px 1382px #FFF , 791px 439px #FFF , 1394px 1117px #FFF , 1834px 271px #FFF , 1634px 1707px #FFF , 1286px 1558px #FFF , 31px 1639px #FFF , 285px 59px #FFF , 1990px 132px #FFF , 1704px 1873px #FFF , 1839px 683px #FFF , 757px 1468px #FFF , 1539px 1331px #FFF , 1217px 1882px #FFF , 196px 1058px #FFF , 1796px 243px #FFF , 1974px 1211px #FFF , 590px 1682px #FFF , 834px 1616px #FFF , 1079px 1234px #FFF , 408px 1027px #FFF , 519px 738px #FFF , 1189px 1917px #FFF , 1289px 8px #FFF , 1116px 226px #FFF , 572px 533px #FFF , 348px 277px #FFF , 1237px 1612px #FFF , 1179px 275px #FFF , 931px 1629px #FFF , 1270px 279px #FFF , 7px 1232px #FFF , 1747px 1198px #FFF , 1294px 1552px #FFF , 902px 446px #FFF , 137px 1258px #FFF , 954px 1476px #FFF , 1px 1401px #FFF , 759px 1860px #FFF , 252px 561px #FFF , 1032px 1238px #FFF , 1018px 1605px #FFF , 831px 1413px #FFF , 1317px 1262px #FFF , 505px 1042px #FFF , 1586px 715px #FFF , 718px 316px #FFF , 1105px 1851px #FFF , 413px 1402px #FFF , 1112px 399px #FFF , 330px 711px #FFF , 1493px 1430px #FFF , 1214px 1705px #FFF , 1874px 509px #FFF , 1837px 1662px #FFF , 738px 1562px #FFF , 1125px 60px #FFF , 79px 776px #FFF , 745px 330px #FFF , 155px 1252px #FFF , 278px 607px #FFF , 1841px 1574px #FFF , 1812px 1823px #FFF , 1445px 994px #FFF , 1559px 169px #FFF , 247px 558px #FFF , 1199px 460px #FFF , 657px 6px #FFF , 980px 1736px #FFF , 1132px 1680px #FFF , 856px 549px #FFF , 493px 1041px #FFF , 1933px 63px #FFF , 1858px 597px #FFF , 1428px 512px #FFF , 1724px 1238px #FFF , 1841px 1349px #FFF , 1731px 1985px #FFF , 1694px 1487px #FFF , 307px 1347px #FFF , 1423px 50px #FFF , 1059px 1536px #FFF , 1307px 1708px #FFF , 1342px 981px #FFF , 180px 479px #FFF , 248px 289px #FFF , 1931px 1107px #FFF , 191px 1094px #FFF , 522px 156px #FFF , 779px 605px #FFF , 1003px 1402px #FFF , 1931px 614px #FFF , 1311px 1683px #FFF , 712px 1085px #FFF , 766px 752px #FFF , 97px 1964px #FFF , 159px 1060px #FFF , 1811px 82px #FFF , 269px 1462px #FFF , 919px 1704px #FFF , 484px 1990px #FFF , 1137px 366px #FFF , 1435px 1685px #FFF , 303px 94px #FFF , 305px 1134px #FFF , 48px 1555px #FFF , 657px 1644px #FFF , 1919px 1069px #FFF , 757px 1122px #FFF , 406px 950px #FFF , 1229px 1380px #FFF , 935px 1768px #FFF , 399px 1654px #FFF , 827px 1354px #FFF , 933px 1821px #FFF , 462px 1064px #FFF , 1532px 1726px #FFF , 506px 118px #FFF , 737px 1423px #FFF , 1808px 798px #FFF , 869px 1540px #FFF , 1931px 649px #FFF , 686px 1132px #FFF , 217px 256px #FFF , 1004px 1729px #FFF , 1305px 1086px #FFF , 1790px 1701px #FFF , 657px 773px #FFF , 948px 1592px #FFF , 206px 921px #FFF , 56px 322px #FFF , 1015px 266px #FFF , 1136px 664px #FFF , 1854px 514px #FFF , 1662px 1372px #FFF , 1126px 543px #FFF , 1487px 397px #FFF , 443px 162px #FFF , 277px 558px #FFF , 71px 1874px #FFF , 1521px 1166px #FFF , 482px 775px #FFF , 328px 592px #FFF , 620px 539px #FFF , 395px 1269px #FFF , 466px 1825px #FFF , 1185px 1743px #FFF , 721px 1774px #FFF , 968px 371px #FFF , 687px 1466px #FFF , 405px 1794px #FFF , 980px 1176px #FFF , 1413px 581px #FFF , 316px 227px #FFF , 751px 1076px #FFF , 262px 104px #FFF , 767px 1297px #FFF , 1891px 212px #FFF , 1117px 1371px #FFF , 621px 1050px #FFF , 1148px 285px #FFF , 1542px 748px #FFF , 120px 1800px #FFF , 1508px 973px #FFF , 127px 703px #FFF , 1632px 1661px #FFF , 995px 1878px #FFF , 1845px 1184px #FFF , 1047px 13px #FFF , 56px 981px #FFF , 1182px 1906px #FFF , 311px 832px #FFF , 622px 965px #FFF , 641px 1932px #FFF , 573px 1966px #FFF , 408px 481px #FFF , 129px 1489px #FFF , 1898px 1611px #FFF , 1924px 1237px #FFF , 217px 1px #FFF , 1861px 1987px #FFF , 1983px 1764px #FFF , 230px 782px #FFF , 508px 1437px #FFF , 1415px 1671px #FFF , 1551px 1199px #FFF , 1589px 1929px #FFF , 598px 785px #FFF , 754px 893px #FFF , 920px 1223px #FFF , 1572px 1030px #FFF , 1370px 1141px #FFF , 1382px 362px #FFF , 51px 1401px #FFF , 834px 1506px #FFF , 709px 1108px #FFF , 386px 720px #FFF , 165px 955px #FFF , 296px 44px #FFF , 1462px 44px #FFF , 400px 1134px #FFF , 582px 657px #FFF , 937px 1478px #FFF , 1933px 1717px #FFF , 1925px 1865px #FFF , 458px 1309px #FFF , 1578px 713px #FFF , 1950px 1031px #FFF , 658px 876px #FFF , 1945px 1139px #FFF , 732px 329px #FFF , 1138px 1314px #FFF , 1374px 1030px #FFF , 324px 718px #FFF , 1516px 1117px #FFF , 1469px 1949px #FFF , 221px 383px #FFF , 186px 1287px #FFF , 651px 1048px #FFF , 660px 29px #FFF , 1928px 480px #FFF , 1412px 1531px #FFF , 711px 1953px #FFF , 16px 699px #FFF , 301px 685px #FFF , 291px 564px #FFF , 1827px 1505px #FFF , 1174px 1964px #FFF , 1684px 732px #FFF , 884px 886px #FFF , 649px 1563px #FFF , 1252px 875px #FFF , 1631px 1355px #FFF , 1437px 734px #FFF , 1122px 1849px #FFF , 1299px 873px #FFF , 462px 1078px #FFF , 1908px 988px #FFF , 283px 543px #FFF , 403px 646px #FFF , 799px 1617px #FFF , 386px 1627px #FFF , 634px 1135px #FFF , 1300px 1665px #FFF , 633px 101px #FFF , 38px 23px #FFF , 1359px 1728px #FFF , 386px 937px #FFF , 959px 1510px #FFF , 972px 629px #FFF , 748px 51px #FFF , 79px 1113px #FFF , 151px 92px #FFF , 389px 1783px #FFF , 1197px 548px #FFF , 1832px 1096px #FFF , 625px 1756px #FFF , 941px 414px #FFF , 697px 516px #FFF , 12px 646px #FFF , 547px 369px #FFF , 891px 1879px #FFF , 1370px 340px #FFF , 461px 1630px #FFF , 609px 1019px #FFF , 352px 268px #FFF , 244px 1498px #FFF , 1370px 459px #FFF , 1630px 240px #FFF , 39px 963px #FFF , 1679px 455px #FFF , 114px 660px #FFF , 1550px 1320px #FFF , 1261px 650px #FFF , 30px 2000px #FFF , 382px 75px #FFF , 546px 1826px #FFF , 548px 822px #FFF , 312px 1584px #FFF , 1775px 205px #FFF , 1468px 1216px #FFF , 184px 964px #FFF , 1432px 1023px #FFF , 682px 380px #FFF , 1986px 1837px #FFF , 1709px 1735px #FFF , 1537px 1240px #FFF , 164px 1893px #FFF , 133px 1044px #FFF , 446px 1978px #FFF , 229px 1938px #FFF , 434px 1487px #FFF , 470px 144px #FFF , 1582px 1437px #FFF , 1515px 214px #FFF , 1054px 357px #FFF , 1363px 1281px #FFF , 1586px 80px #FFF , 1797px 676px #FFF , 1790px 1856px #FFF , 253px 332px #FFF , 849px 1152px #FFF , 1970px 495px #FFF , 1529px 1801px #FFF , 437px 521px #FFF , 1830px 1182px #FFF , 638px 228px #FFF , 557px 1948px #FFF , 1074px 118px #FFF , 871px 30px #FFF , 420px 484px #FFF , 1940px 1441px #FFF , 310px 185px #FFF , 277px 1289px #FFF , 1222px 1705px #FFF , 272px 1157px #FFF , 1469px 959px #FFF , 1433px 737px #FFF , 255px 1854px #FFF , 1951px 152px #FFF , 1556px 121px #FFF , 654px 229px #FFF , 1782px 1773px #FFF , 1150px 852px #FFF , 246px 855px #FFF , 1203px 793px #FFF , 708px 908px #FFF , 696px 1833px #FFF , 871px 1154px #FFF , 1126px 559px #FFF , 517px 1514px #FFF , 1033px 741px #FFF , 1198px 1004px #FFF , 450px 1052px #FFF , 856px 184px #FFF , 711px 430px #FFF , 920px 1001px #FFF , 1052px 113px #FFF , 732px 991px #FFF , 125px 17px #FFF , 1668px 114px #FFF , 150px 1105px #FFF , 1043px 666px #FFF , 1804px 879px #FFF , 567px 917px #FFF , 1836px 746px #FFF , 1671px 379px #FFF , 638px 1580px #FFF , 870px 1627px #FFF , 925px 1894px #FFF , 960px 872px #FFF , 1177px 1392px #FFF , 1487px 116px #FFF , 825px 590px #FFF , 887px 1306px #FFF , 1974px 324px #FFF , 1101px 1850px #FFF , 2000px 181px #FFF , 37px 1828px #FFF , 106px 989px #FFF , 1633px 354px #FFF , 1042px 1072px #FFF , 496px 981px #FFF , 1158px 735px #FFF , 1913px 967px #FFF , 327px 1806px #FFF , 258px 743px #FFF , 732px 1277px #FFF , 1931px 494px #FFF , 454px 198px #FFF , 310px 184px #FFF , 156px 1328px #FFF , 1121px 1831px #FFF , 587px 321px #FFF , 1801px 767px #FFF , 1415px 89px #FFF , 1480px 434px #FFF , 800px 1019px #FFF , 1604px 716px #FFF , 1568px 1764px #FFF , 1044px 517px #FFF , 615px 366px #FFF , 400px 1819px #FFF , 1285px 1584px #FFF , 1640px 468px #FFF , 1500px 914px #FFF , 647px 1866px #FFF , 1091px 985px #FFF , 691px 1552px #FFF , 1554px 1989px #FFF , 986px 1119px #FFF , 357px 88px #FFF , 1646px 1576px #FFF , 1770px 207px #FFF , 316px 84px #FFF , 378px 202px #FFF , 1431px 1512px #FFF , 220px 231px #FFF , 623px 1142px #FFF , 880px 1443px #FFF , 1469px 704px #FFF , 160px 1858px #FFF , 599px 404px #FFF , 1262px 489px #FFF , 1124px 1661px #FFF , 216px 102px #FFF , 1682px 997px #FFF , 978px 453px #FFF , 354px 1712px #FFF , 1873px 879px #FFF , 1239px 1557px #FFF , 567px 71px #FFF , 1705px 995px #FFF , 872px 426px #FFF , 1717px 26px #FFF , 1438px 831px #FFF , 1017px 823px #FFF , 1970px 601px #FFF , 887px 271px #FFF , 1222px 567px #FFF , 1714px 283px #FFF , 1387px 741px #FFF , 1729px 1673px #FFF , 653px 989px #FFF , 860px 813px #FFF , 1891px 1353px #FFF , 1408px 1783px #FFF , 327px 664px #FFF , 1461px 27px #FFF , 1864px 1428px #FFF , 979px 85px #FFF , 1077px 443px #FFF , 579px 1308px #FFF , 1157px 1566px #FFF , 1148px 283px #FFF , 521px 1901px #FFF , 1968px 1236px #FFF , 1764px 1470px #FFF , 873px 1027px #FFF , 628px 1565px #FFF , 78px 1111px #FFF , 1253px 1361px #FFF , 1013px 1129px #FFF , 1063px 594px #FFF , 21px 1745px #FFF , 1825px 573px #FFF , 408px 1720px #FFF , 944px 1274px #FFF , 245px 1541px #FFF , 506px 760px #FFF , 1274px 147px #FFF , 1563px 1130px #FFF , 1613px 1987px #FFF , 540px 948px #FFF , 1951px 1139px #FFF , 792px 715px #FFF , 1910px 1512px #FFF , 127px 1599px #FFF , 1868px 868px #FFF , 1834px 277px #FFF , 1927px 1095px #FFF , 1662px 262px #FFF , 617px 99px #FFF , 775px 498px #FFF , 465px 922px #FFF , 1257px 901px #FFF , 1937px 1447px #FFF , 1103px 396px #FFF , 1670px 386px #FFF , 1168px 361px #FFF , 1088px 1159px #FFF , 704px 1390px #FFF , 1141px 140px #FFF , 1491px 1954px #FFF , 1717px 1456px #FFF , 377px 1143px #FFF , 1660px 988px #FFF , 1948px 969px #FFF , 297px 1366px #FFF , 1777px 1487px #FFF , 1637px 1397px #FFF , 1916px 456px #FFF , 418px 1872px #FFF , 1620px 759px #FFF , 699px 1145px #FFF , 798px 1028px #FFF , 1552px 989px #FFF , 15px 150px #FFF , 623px 1519px #FFF , 569px 651px #FFF , 1057px 101px #FFF , 13px 622px #FFF , 1219px 628px #FFF , 604px 1700px #FFF , 1737px 1381px #FFF , 891px 941px #FFF , 759px 914px #FFF , 937px 48px #FFF , 634px 1286px #FFF , 474px 1730px #FFF , 1697px 798px #FFF , 964px 1550px #FFF , 309px 455px #FFF , 1241px 592px #FFF , 31px 1361px #FFF , 281px 1936px #FFF , 1248px 265px #FFF , 696px 238px #FFF , 1484px 723px #FFF , 1590px 1886px #FFF , 793px 387px #FFF , 1796px 1558px #FFF , 449px 1092px #FFF , 597px 314px #FFF , 744px 300px #FFF , 1010px 1026px #FFF , 1844px 1161px #FFF , 588px 1512px #FFF , 1734px 857px #FFF , 1537px 398px #FFF , 1147px 1958px #FFF , 1932px 552px #FFF , 1606px 1591px #FFF , 388px 1486px #FFF , 1202px 61px #FFF , 744px 1666px #FFF , 1420px 264px #FFF , 447px 263px #FFF , 398px 489px #FFF , 1933px 362px #FFF , 1793px 1912px #FFF , 243px 1912px #FFF , 437px 1097px #FFF , 19px 1461px #FFF , 1730px 1445px #FFF , 1995px 2px #FFF , 1189px 439px #FFF , 50px 813px #FFF , 777px 1455px #FFF , 1413px 804px #FFF , 788px 1761px #FFF;
}
#stars-small:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 724px 80px #FFF , 1830px 1582px #FFF , 928px 1303px #FFF , 207px 615px #FFF , 1157px 923px #FFF , 1989px 1643px #FFF , 714px 205px #FFF , 261px 799px #FFF , 1435px 1772px #FFF , 1458px 1766px #FFF , 1807px 73px #FFF , 1964px 1821px #FFF , 613px 1673px #FFF , 849px 1628px #FFF , 43px 1071px #FFF , 446px 660px #FFF , 282px 899px #FFF , 1203px 262px #FFF , 564px 1736px #FFF , 847px 1745px #FFF , 584px 228px #FFF , 177px 353px #FFF , 1967px 839px #FFF , 851px 543px #FFF , 1607px 1718px #FFF , 616px 885px #FFF , 73px 644px #FFF , 325px 1164px #FFF , 303px 22px #FFF , 575px 1509px #FFF , 1597px 925px #FFF , 183px 618px #FFF , 1304px 1822px #FFF , 1929px 896px #FFF , 1182px 602px #FFF , 463px 1686px #FFF , 754px 1187px #FFF , 1567px 1950px #FFF , 1680px 1994px #FFF , 1369px 157px #FFF , 96px 639px #FFF , 1485px 1264px #FFF , 1973px 518px #FFF , 1105px 1690px #FFF , 1130px 674px #FFF , 429px 504px #FFF , 1078px 385px #FFF , 1535px 1017px #FFF , 923px 1529px #FFF , 1541px 504px #FFF , 305px 1597px #FFF , 1014px 107px #FFF , 1294px 1111px #FFF , 447px 147px #FFF , 101px 774px #FFF , 36px 1849px #FFF , 761px 1142px #FFF , 192px 502px #FFF , 1341px 7px #FFF , 101px 1629px #FFF , 342px 800px #FFF , 223px 886px #FFF , 1694px 1488px #FFF , 1608px 714px #FFF , 590px 1046px #FFF , 1240px 1652px #FFF , 1967px 1731px #FFF , 431px 541px #FFF , 750px 667px #FFF , 446px 78px #FFF , 1408px 804px #FFF , 1132px 1644px #FFF , 1083px 1449px #FFF , 1442px 527px #FFF , 1409px 1264px #FFF , 1709px 775px #FFF , 695px 1309px #FFF , 409px 22px #FFF , 363px 224px #FFF , 1398px 138px #FFF , 1307px 1450px #FFF , 1329px 1252px #FFF , 525px 1096px #FFF , 655px 1865px #FFF , 696px 518px #FFF , 622px 1098px #FFF , 778px 1443px #FFF , 110px 1823px #FFF , 1754px 1814px #FFF , 1798px 750px #FFF , 482px 408px #FFF , 320px 823px #FFF , 630px 1144px #FFF , 258px 1729px #FFF , 1652px 1275px #FFF , 907px 375px #FFF , 1548px 610px #FFF , 1928px 1299px #FFF , 469px 15px #FFF , 808px 178px #FFF , 991px 775px #FFF , 520px 544px #FFF , 1027px 656px #FFF , 439px 1671px #FFF , 1704px 1569px #FFF , 1166px 1077px #FFF , 524px 1776px #FFF , 1081px 1363px #FFF , 1478px 866px #FFF , 1844px 1467px #FFF , 863px 578px #FFF , 1479px 386px #FFF , 944px 1292px #FFF , 1870px 78px #FFF , 714px 917px #FFF , 240px 286px #FFF , 722px 525px #FFF , 1075px 483px #FFF , 1404px 999px #FFF , 1201px 569px #FFF , 57px 1938px #FFF , 684px 1706px #FFF , 1254px 125px #FFF , 39px 468px #FFF , 1042px 755px #FFF , 1037px 549px #FFF , 1146px 833px #FFF , 1093px 1127px #FFF , 447px 679px #FFF , 221px 1882px #FFF , 667px 159px #FFF , 40px 675px #FFF , 1225px 827px #FFF , 1649px 77px #FFF , 1245px 328px #FFF , 969px 1461px #FFF , 898px 1227px #FFF , 1454px 15px #FFF , 1275px 797px #FFF , 593px 67px #FFF , 591px 114px #FFF , 1403px 195px #FFF , 718px 620px #FFF , 1337px 802px #FFF , 274px 1166px #FFF , 170px 1947px #FFF , 737px 843px #FFF , 378px 794px #FFF , 1368px 169px #FFF , 1673px 1847px #FFF , 1302px 1796px #FFF , 618px 737px #FFF , 1231px 1741px #FFF , 1958px 1855px #FFF , 667px 1983px #FFF , 795px 1970px #FFF , 254px 1459px #FFF , 734px 878px #FFF , 486px 1884px #FFF , 416px 1382px #FFF , 791px 439px #FFF , 1394px 1117px #FFF , 1834px 271px #FFF , 1634px 1707px #FFF , 1286px 1558px #FFF , 31px 1639px #FFF , 285px 59px #FFF , 1990px 132px #FFF , 1704px 1873px #FFF , 1839px 683px #FFF , 757px 1468px #FFF , 1539px 1331px #FFF , 1217px 1882px #FFF , 196px 1058px #FFF , 1796px 243px #FFF , 1974px 1211px #FFF , 590px 1682px #FFF , 834px 1616px #FFF , 1079px 1234px #FFF , 408px 1027px #FFF , 519px 738px #FFF , 1189px 1917px #FFF , 1289px 8px #FFF , 1116px 226px #FFF , 572px 533px #FFF , 348px 277px #FFF , 1237px 1612px #FFF , 1179px 275px #FFF , 931px 1629px #FFF , 1270px 279px #FFF , 7px 1232px #FFF , 1747px 1198px #FFF , 1294px 1552px #FFF , 902px 446px #FFF , 137px 1258px #FFF , 954px 1476px #FFF , 1px 1401px #FFF , 759px 1860px #FFF , 252px 561px #FFF , 1032px 1238px #FFF , 1018px 1605px #FFF , 831px 1413px #FFF , 1317px 1262px #FFF , 505px 1042px #FFF , 1586px 715px #FFF , 718px 316px #FFF , 1105px 1851px #FFF , 413px 1402px #FFF , 1112px 399px #FFF , 330px 711px #FFF , 1493px 1430px #FFF , 1214px 1705px #FFF , 1874px 509px #FFF , 1837px 1662px #FFF , 738px 1562px #FFF , 1125px 60px #FFF , 79px 776px #FFF , 745px 330px #FFF , 155px 1252px #FFF , 278px 607px #FFF , 1841px 1574px #FFF , 1812px 1823px #FFF , 1445px 994px #FFF , 1559px 169px #FFF , 247px 558px #FFF , 1199px 460px #FFF , 657px 6px #FFF , 980px 1736px #FFF , 1132px 1680px #FFF , 856px 549px #FFF , 493px 1041px #FFF , 1933px 63px #FFF , 1858px 597px #FFF , 1428px 512px #FFF , 1724px 1238px #FFF , 1841px 1349px #FFF , 1731px 1985px #FFF , 1694px 1487px #FFF , 307px 1347px #FFF , 1423px 50px #FFF , 1059px 1536px #FFF , 1307px 1708px #FFF , 1342px 981px #FFF , 180px 479px #FFF , 248px 289px #FFF , 1931px 1107px #FFF , 191px 1094px #FFF , 522px 156px #FFF , 779px 605px #FFF , 1003px 1402px #FFF , 1931px 614px #FFF , 1311px 1683px #FFF , 712px 1085px #FFF , 766px 752px #FFF , 97px 1964px #FFF , 159px 1060px #FFF , 1811px 82px #FFF , 269px 1462px #FFF , 919px 1704px #FFF , 484px 1990px #FFF , 1137px 366px #FFF , 1435px 1685px #FFF , 303px 94px #FFF , 305px 1134px #FFF , 48px 1555px #FFF , 657px 1644px #FFF , 1919px 1069px #FFF , 757px 1122px #FFF , 406px 950px #FFF , 1229px 1380px #FFF , 935px 1768px #FFF , 399px 1654px #FFF , 827px 1354px #FFF , 933px 1821px #FFF , 462px 1064px #FFF , 1532px 1726px #FFF , 506px 118px #FFF , 737px 1423px #FFF , 1808px 798px #FFF , 869px 1540px #FFF , 1931px 649px #FFF , 686px 1132px #FFF , 217px 256px #FFF , 1004px 1729px #FFF , 1305px 1086px #FFF , 1790px 1701px #FFF , 657px 773px #FFF , 948px 1592px #FFF , 206px 921px #FFF , 56px 322px #FFF , 1015px 266px #FFF , 1136px 664px #FFF , 1854px 514px #FFF , 1662px 1372px #FFF , 1126px 543px #FFF , 1487px 397px #FFF , 443px 162px #FFF , 277px 558px #FFF , 71px 1874px #FFF , 1521px 1166px #FFF , 482px 775px #FFF , 328px 592px #FFF , 620px 539px #FFF , 395px 1269px #FFF , 466px 1825px #FFF , 1185px 1743px #FFF , 721px 1774px #FFF , 968px 371px #FFF , 687px 1466px #FFF , 405px 1794px #FFF , 980px 1176px #FFF , 1413px 581px #FFF , 316px 227px #FFF , 751px 1076px #FFF , 262px 104px #FFF , 767px 1297px #FFF , 1891px 212px #FFF , 1117px 1371px #FFF , 621px 1050px #FFF , 1148px 285px #FFF , 1542px 748px #FFF , 120px 1800px #FFF , 1508px 973px #FFF , 127px 703px #FFF , 1632px 1661px #FFF , 995px 1878px #FFF , 1845px 1184px #FFF , 1047px 13px #FFF , 56px 981px #FFF , 1182px 1906px #FFF , 311px 832px #FFF , 622px 965px #FFF , 641px 1932px #FFF , 573px 1966px #FFF , 408px 481px #FFF , 129px 1489px #FFF , 1898px 1611px #FFF , 1924px 1237px #FFF , 217px 1px #FFF , 1861px 1987px #FFF , 1983px 1764px #FFF , 230px 782px #FFF , 508px 1437px #FFF , 1415px 1671px #FFF , 1551px 1199px #FFF , 1589px 1929px #FFF , 598px 785px #FFF , 754px 893px #FFF , 920px 1223px #FFF , 1572px 1030px #FFF , 1370px 1141px #FFF , 1382px 362px #FFF , 51px 1401px #FFF , 834px 1506px #FFF , 709px 1108px #FFF , 386px 720px #FFF , 165px 955px #FFF , 296px 44px #FFF , 1462px 44px #FFF , 400px 1134px #FFF , 582px 657px #FFF , 937px 1478px #FFF , 1933px 1717px #FFF , 1925px 1865px #FFF , 458px 1309px #FFF , 1578px 713px #FFF , 1950px 1031px #FFF , 658px 876px #FFF , 1945px 1139px #FFF , 732px 329px #FFF , 1138px 1314px #FFF , 1374px 1030px #FFF , 324px 718px #FFF , 1516px 1117px #FFF , 1469px 1949px #FFF , 221px 383px #FFF , 186px 1287px #FFF , 651px 1048px #FFF , 660px 29px #FFF , 1928px 480px #FFF , 1412px 1531px #FFF , 711px 1953px #FFF , 16px 699px #FFF , 301px 685px #FFF , 291px 564px #FFF , 1827px 1505px #FFF , 1174px 1964px #FFF , 1684px 732px #FFF , 884px 886px #FFF , 649px 1563px #FFF , 1252px 875px #FFF , 1631px 1355px #FFF , 1437px 734px #FFF , 1122px 1849px #FFF , 1299px 873px #FFF , 462px 1078px #FFF , 1908px 988px #FFF , 283px 543px #FFF , 403px 646px #FFF , 799px 1617px #FFF , 386px 1627px #FFF , 634px 1135px #FFF , 1300px 1665px #FFF , 633px 101px #FFF , 38px 23px #FFF , 1359px 1728px #FFF , 386px 937px #FFF , 959px 1510px #FFF , 972px 629px #FFF , 748px 51px #FFF , 79px 1113px #FFF , 151px 92px #FFF , 389px 1783px #FFF , 1197px 548px #FFF , 1832px 1096px #FFF , 625px 1756px #FFF , 941px 414px #FFF , 697px 516px #FFF , 12px 646px #FFF , 547px 369px #FFF , 891px 1879px #FFF , 1370px 340px #FFF , 461px 1630px #FFF , 609px 1019px #FFF , 352px 268px #FFF , 244px 1498px #FFF , 1370px 459px #FFF , 1630px 240px #FFF , 39px 963px #FFF , 1679px 455px #FFF , 114px 660px #FFF , 1550px 1320px #FFF , 1261px 650px #FFF , 30px 2000px #FFF , 382px 75px #FFF , 546px 1826px #FFF , 548px 822px #FFF , 312px 1584px #FFF , 1775px 205px #FFF , 1468px 1216px #FFF , 184px 964px #FFF , 1432px 1023px #FFF , 682px 380px #FFF , 1986px 1837px #FFF , 1709px 1735px #FFF , 1537px 1240px #FFF , 164px 1893px #FFF , 133px 1044px #FFF , 446px 1978px #FFF , 229px 1938px #FFF , 434px 1487px #FFF , 470px 144px #FFF , 1582px 1437px #FFF , 1515px 214px #FFF , 1054px 357px #FFF , 1363px 1281px #FFF , 1586px 80px #FFF , 1797px 676px #FFF , 1790px 1856px #FFF , 253px 332px #FFF , 849px 1152px #FFF , 1970px 495px #FFF , 1529px 1801px #FFF , 437px 521px #FFF , 1830px 1182px #FFF , 638px 228px #FFF , 557px 1948px #FFF , 1074px 118px #FFF , 871px 30px #FFF , 420px 484px #FFF , 1940px 1441px #FFF , 310px 185px #FFF , 277px 1289px #FFF , 1222px 1705px #FFF , 272px 1157px #FFF , 1469px 959px #FFF , 1433px 737px #FFF , 255px 1854px #FFF , 1951px 152px #FFF , 1556px 121px #FFF , 654px 229px #FFF , 1782px 1773px #FFF , 1150px 852px #FFF , 246px 855px #FFF , 1203px 793px #FFF , 708px 908px #FFF , 696px 1833px #FFF , 871px 1154px #FFF , 1126px 559px #FFF , 517px 1514px #FFF , 1033px 741px #FFF , 1198px 1004px #FFF , 450px 1052px #FFF , 856px 184px #FFF , 711px 430px #FFF , 920px 1001px #FFF , 1052px 113px #FFF , 732px 991px #FFF , 125px 17px #FFF , 1668px 114px #FFF , 150px 1105px #FFF , 1043px 666px #FFF , 1804px 879px #FFF , 567px 917px #FFF , 1836px 746px #FFF , 1671px 379px #FFF , 638px 1580px #FFF , 870px 1627px #FFF , 925px 1894px #FFF , 960px 872px #FFF , 1177px 1392px #FFF , 1487px 116px #FFF , 825px 590px #FFF , 887px 1306px #FFF , 1974px 324px #FFF , 1101px 1850px #FFF , 2000px 181px #FFF , 37px 1828px #FFF , 106px 989px #FFF , 1633px 354px #FFF , 1042px 1072px #FFF , 496px 981px #FFF , 1158px 735px #FFF , 1913px 967px #FFF , 327px 1806px #FFF , 258px 743px #FFF , 732px 1277px #FFF , 1931px 494px #FFF , 454px 198px #FFF , 310px 184px #FFF , 156px 1328px #FFF , 1121px 1831px #FFF , 587px 321px #FFF , 1801px 767px #FFF , 1415px 89px #FFF , 1480px 434px #FFF , 800px 1019px #FFF , 1604px 716px #FFF , 1568px 1764px #FFF , 1044px 517px #FFF , 615px 366px #FFF , 400px 1819px #FFF , 1285px 1584px #FFF , 1640px 468px #FFF , 1500px 914px #FFF , 647px 1866px #FFF , 1091px 985px #FFF , 691px 1552px #FFF , 1554px 1989px #FFF , 986px 1119px #FFF , 357px 88px #FFF , 1646px 1576px #FFF , 1770px 207px #FFF , 316px 84px #FFF , 378px 202px #FFF , 1431px 1512px #FFF , 220px 231px #FFF , 623px 1142px #FFF , 880px 1443px #FFF , 1469px 704px #FFF , 160px 1858px #FFF , 599px 404px #FFF , 1262px 489px #FFF , 1124px 1661px #FFF , 216px 102px #FFF , 1682px 997px #FFF , 978px 453px #FFF , 354px 1712px #FFF , 1873px 879px #FFF , 1239px 1557px #FFF , 567px 71px #FFF , 1705px 995px #FFF , 872px 426px #FFF , 1717px 26px #FFF , 1438px 831px #FFF , 1017px 823px #FFF , 1970px 601px #FFF , 887px 271px #FFF , 1222px 567px #FFF , 1714px 283px #FFF , 1387px 741px #FFF , 1729px 1673px #FFF , 653px 989px #FFF , 860px 813px #FFF , 1891px 1353px #FFF , 1408px 1783px #FFF , 327px 664px #FFF , 1461px 27px #FFF , 1864px 1428px #FFF , 979px 85px #FFF , 1077px 443px #FFF , 579px 1308px #FFF , 1157px 1566px #FFF , 1148px 283px #FFF , 521px 1901px #FFF , 1968px 1236px #FFF , 1764px 1470px #FFF , 873px 1027px #FFF , 628px 1565px #FFF , 78px 1111px #FFF , 1253px 1361px #FFF , 1013px 1129px #FFF , 1063px 594px #FFF , 21px 1745px #FFF , 1825px 573px #FFF , 408px 1720px #FFF , 944px 1274px #FFF , 245px 1541px #FFF , 506px 760px #FFF , 1274px 147px #FFF , 1563px 1130px #FFF , 1613px 1987px #FFF , 540px 948px #FFF , 1951px 1139px #FFF , 792px 715px #FFF , 1910px 1512px #FFF , 127px 1599px #FFF , 1868px 868px #FFF , 1834px 277px #FFF , 1927px 1095px #FFF , 1662px 262px #FFF , 617px 99px #FFF , 775px 498px #FFF , 465px 922px #FFF , 1257px 901px #FFF , 1937px 1447px #FFF , 1103px 396px #FFF , 1670px 386px #FFF , 1168px 361px #FFF , 1088px 1159px #FFF , 704px 1390px #FFF , 1141px 140px #FFF , 1491px 1954px #FFF , 1717px 1456px #FFF , 377px 1143px #FFF , 1660px 988px #FFF , 1948px 969px #FFF , 297px 1366px #FFF , 1777px 1487px #FFF , 1637px 1397px #FFF , 1916px 456px #FFF , 418px 1872px #FFF , 1620px 759px #FFF , 699px 1145px #FFF , 798px 1028px #FFF , 1552px 989px #FFF , 15px 150px #FFF , 623px 1519px #FFF , 569px 651px #FFF , 1057px 101px #FFF , 13px 622px #FFF , 1219px 628px #FFF , 604px 1700px #FFF , 1737px 1381px #FFF , 891px 941px #FFF , 759px 914px #FFF , 937px 48px #FFF , 634px 1286px #FFF , 474px 1730px #FFF , 1697px 798px #FFF , 964px 1550px #FFF , 309px 455px #FFF , 1241px 592px #FFF , 31px 1361px #FFF , 281px 1936px #FFF , 1248px 265px #FFF , 696px 238px #FFF , 1484px 723px #FFF , 1590px 1886px #FFF , 793px 387px #FFF , 1796px 1558px #FFF , 449px 1092px #FFF , 597px 314px #FFF , 744px 300px #FFF , 1010px 1026px #FFF , 1844px 1161px #FFF , 588px 1512px #FFF , 1734px 857px #FFF , 1537px 398px #FFF , 1147px 1958px #FFF , 1932px 552px #FFF , 1606px 1591px #FFF , 388px 1486px #FFF , 1202px 61px #FFF , 744px 1666px #FFF , 1420px 264px #FFF , 447px 263px #FFF , 398px 489px #FFF , 1933px 362px #FFF , 1793px 1912px #FFF , 243px 1912px #FFF , 437px 1097px #FFF , 19px 1461px #FFF , 1730px 1445px #FFF , 1995px 2px #FFF , 1189px 439px #FFF , 50px 813px #FFF , 777px 1455px #FFF , 1413px 804px #FFF , 788px 1761px #FFF;
}
#stars-medium {
  will-change: transform;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 209px 1199px #FFF , 1423px 651px #FFF , 1517px 837px #FFF , 422px 348px #FFF , 978px 1460px #FFF , 892px 1537px #FFF , 105px 1728px #FFF , 1742px 542px #FFF , 1787px 23px #FFF , 1516px 800px #FFF , 436px 1501px #FFF , 790px 1595px #FFF , 1191px 1949px #FFF , 964px 665px #FFF , 952px 1301px #FFF , 781px 627px #FFF , 784px 1045px #FFF , 1788px 882px #FFF , 43px 582px #FFF , 702px 873px #FFF , 1657px 1457px #FFF , 155px 1402px #FFF , 286px 402px #FFF , 810px 74px #FFF , 250px 1184px #FFF , 278px 86px #FFF , 352px 567px #FFF , 1683px 1969px #FFF , 842px 833px #FFF , 1139px 1705px #FFF , 218px 1499px #FFF , 1388px 675px #FFF , 1585px 663px #FFF , 501px 562px #FFF , 968px 1340px #FFF , 1864px 942px #FFF , 1928px 1151px #FFF , 19px 1182px #FFF , 752px 590px #FFF , 1914px 701px #FFF , 206px 1336px #FFF , 1455px 1937px #FFF , 813px 1115px #FFF , 1872px 1959px #FFF , 1232px 1786px #FFF , 300px 1422px #FFF , 1111px 984px #FFF , 1364px 1106px #FFF , 116px 1883px #FFF , 658px 1166px #FFF , 576px 275px #FFF , 624px 639px #FFF , 1273px 1529px #FFF , 1856px 1111px #FFF , 1859px 322px #FFF , 411px 1128px #FFF , 34px 613px #FFF , 1153px 1149px #FFF , 1311px 116px #FFF , 64px 1611px #FFF , 1408px 1003px #FFF , 1166px 1635px #FFF , 293px 839px #FFF , 1912px 1674px #FFF , 925px 105px #FFF , 351px 1443px #FFF , 1508px 1963px #FFF , 1258px 1237px #FFF , 1325px 1717px #FFF , 474px 1285px #FFF , 1579px 641px #FFF , 806px 506px #FFF , 799px 569px #FFF , 1154px 343px #FFF , 248px 1844px #FFF , 565px 702px #FFF , 1252px 544px #FFF , 1775px 1597px #FFF , 1923px 1520px #FFF , 341px 423px #FFF , 1852px 1204px #FFF , 498px 1766px #FFF , 601px 1847px #FFF , 1776px 1487px #FFF , 1932px 1510px #FFF , 592px 222px #FFF , 1023px 199px #FFF , 284px 1897px #FFF , 182px 308px #FFF , 1613px 136px #FFF , 812px 1554px #FFF , 1330px 551px #FFF , 247px 1862px #FFF , 1301px 119px #FFF , 1927px 373px #FFF , 1669px 1887px #FFF , 1961px 916px #FFF , 467px 1741px #FFF , 924px 759px #FFF , 1110px 1007px #FFF , 403px 1951px #FFF , 1545px 1196px #FFF , 253px 1255px #FFF , 1534px 735px #FFF , 1161px 1235px #FFF , 229px 43px #FFF , 1585px 323px #FFF , 1775px 1793px #FFF , 1908px 39px #FFF , 1218px 506px #FFF , 1753px 1549px #FFF , 700px 1720px #FFF , 1594px 483px #FFF , 144px 915px #FFF , 1931px 1242px #FFF , 1368px 1238px #FFF , 362px 390px #FFF , 1946px 277px #FFF , 1738px 890px #FFF , 978px 1169px #FFF , 551px 56px #FFF , 1530px 809px #FFF , 1794px 576px #FFF , 1961px 1619px #FFF , 174px 1198px #FFF , 703px 1076px #FFF , 386px 1822px #FFF , 293px 1508px #FFF , 1802px 1408px #FFF , 1107px 173px #FFF , 1277px 1325px #FFF , 1785px 915px #FFF , 858px 1700px #FFF , 636px 1186px #FFF , 965px 615px #FFF , 1623px 1024px #FFF , 227px 84px #FFF , 908px 1083px #FFF , 741px 853px #FFF , 629px 1557px #FFF , 1425px 1305px #FFF , 1363px 88px #FFF , 1987px 758px #FFF , 1166px 1530px #FFF , 1744px 1138px #FFF , 1966px 394px #FFF , 539px 1413px #FFF , 855px 1107px #FFF , 1693px 1682px #FFF , 518px 470px #FFF , 1207px 132px #FFF , 389px 475px #FFF , 589px 1961px #FFF , 753px 1783px #FFF , 1947px 1078px #FFF , 873px 1818px #FFF , 227px 578px #FFF , 1462px 1605px #FFF , 447px 631px #FFF , 5px 357px #FFF , 45px 381px #FFF , 24px 525px #FFF , 1926px 1583px #FFF , 867px 1674px #FFF , 634px 1200px #FFF , 309px 988px #FFF , 1379px 1781px #FFF , 222px 872px #FFF , 1069px 577px #FFF , 1969px 288px #FFF , 1133px 1706px #FFF , 900px 1490px #FFF , 81px 934px #FFF , 561px 1679px #FFF , 1707px 1761px #FFF , 635px 1724px #FFF , 1490px 1563px #FFF , 817px 839px #FFF , 1249px 530px #FFF , 1123px 1450px #FFF , 930px 333px #FFF , 957px 474px #FFF , 1579px 415px #FFF , 925px 435px #FFF , 235px 7px #FFF , 1985px 1217px #FFF , 1993px 789px #FFF , 1222px 1645px #FFF , 1405px 1105px #FFF , 703px 469px #FFF , 1170px 1303px #FFF , 1015px 477px #FFF , 23px 1724px #FFF , 1020px 1131px #FFF , 1951px 921px #FFF , 1430px 7px #FFF , 869px 686px #FFF , 1248px 1582px #FFF , 1614px 617px #FFF , 553px 522px #FFF;
}
#stars-medium:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 209px 1199px #FFF , 1423px 651px #FFF , 1517px 837px #FFF , 422px 348px #FFF , 978px 1460px #FFF , 892px 1537px #FFF , 105px 1728px #FFF , 1742px 542px #FFF , 1787px 23px #FFF , 1516px 800px #FFF , 436px 1501px #FFF , 790px 1595px #FFF , 1191px 1949px #FFF , 964px 665px #FFF , 952px 1301px #FFF , 781px 627px #FFF , 784px 1045px #FFF , 1788px 882px #FFF , 43px 582px #FFF , 702px 873px #FFF , 1657px 1457px #FFF , 155px 1402px #FFF , 286px 402px #FFF , 810px 74px #FFF , 250px 1184px #FFF , 278px 86px #FFF , 352px 567px #FFF , 1683px 1969px #FFF , 842px 833px #FFF , 1139px 1705px #FFF , 218px 1499px #FFF , 1388px 675px #FFF , 1585px 663px #FFF , 501px 562px #FFF , 968px 1340px #FFF , 1864px 942px #FFF , 1928px 1151px #FFF , 19px 1182px #FFF , 752px 590px #FFF , 1914px 701px #FFF , 206px 1336px #FFF , 1455px 1937px #FFF , 813px 1115px #FFF , 1872px 1959px #FFF , 1232px 1786px #FFF , 300px 1422px #FFF , 1111px 984px #FFF , 1364px 1106px #FFF , 116px 1883px #FFF , 658px 1166px #FFF , 576px 275px #FFF , 624px 639px #FFF , 1273px 1529px #FFF , 1856px 1111px #FFF , 1859px 322px #FFF , 411px 1128px #FFF , 34px 613px #FFF , 1153px 1149px #FFF , 1311px 116px #FFF , 64px 1611px #FFF , 1408px 1003px #FFF , 1166px 1635px #FFF , 293px 839px #FFF , 1912px 1674px #FFF , 925px 105px #FFF , 351px 1443px #FFF , 1508px 1963px #FFF , 1258px 1237px #FFF , 1325px 1717px #FFF , 474px 1285px #FFF , 1579px 641px #FFF , 806px 506px #FFF , 799px 569px #FFF , 1154px 343px #FFF , 248px 1844px #FFF , 565px 702px #FFF , 1252px 544px #FFF , 1775px 1597px #FFF , 1923px 1520px #FFF , 341px 423px #FFF , 1852px 1204px #FFF , 498px 1766px #FFF , 601px 1847px #FFF , 1776px 1487px #FFF , 1932px 1510px #FFF , 592px 222px #FFF , 1023px 199px #FFF , 284px 1897px #FFF , 182px 308px #FFF , 1613px 136px #FFF , 812px 1554px #FFF , 1330px 551px #FFF , 247px 1862px #FFF , 1301px 119px #FFF , 1927px 373px #FFF , 1669px 1887px #FFF , 1961px 916px #FFF , 467px 1741px #FFF , 924px 759px #FFF , 1110px 1007px #FFF , 403px 1951px #FFF , 1545px 1196px #FFF , 253px 1255px #FFF , 1534px 735px #FFF , 1161px 1235px #FFF , 229px 43px #FFF , 1585px 323px #FFF , 1775px 1793px #FFF , 1908px 39px #FFF , 1218px 506px #FFF , 1753px 1549px #FFF , 700px 1720px #FFF , 1594px 483px #FFF , 144px 915px #FFF , 1931px 1242px #FFF , 1368px 1238px #FFF , 362px 390px #FFF , 1946px 277px #FFF , 1738px 890px #FFF , 978px 1169px #FFF , 551px 56px #FFF , 1530px 809px #FFF , 1794px 576px #FFF , 1961px 1619px #FFF , 174px 1198px #FFF , 703px 1076px #FFF , 386px 1822px #FFF , 293px 1508px #FFF , 1802px 1408px #FFF , 1107px 173px #FFF , 1277px 1325px #FFF , 1785px 915px #FFF , 858px 1700px #FFF , 636px 1186px #FFF , 965px 615px #FFF , 1623px 1024px #FFF , 227px 84px #FFF , 908px 1083px #FFF , 741px 853px #FFF , 629px 1557px #FFF , 1425px 1305px #FFF , 1363px 88px #FFF , 1987px 758px #FFF , 1166px 1530px #FFF , 1744px 1138px #FFF , 1966px 394px #FFF , 539px 1413px #FFF , 855px 1107px #FFF , 1693px 1682px #FFF , 518px 470px #FFF , 1207px 132px #FFF , 389px 475px #FFF , 589px 1961px #FFF , 753px 1783px #FFF , 1947px 1078px #FFF , 873px 1818px #FFF , 227px 578px #FFF , 1462px 1605px #FFF , 447px 631px #FFF , 5px 357px #FFF , 45px 381px #FFF , 24px 525px #FFF , 1926px 1583px #FFF , 867px 1674px #FFF , 634px 1200px #FFF , 309px 988px #FFF , 1379px 1781px #FFF , 222px 872px #FFF , 1069px 577px #FFF , 1969px 288px #FFF , 1133px 1706px #FFF , 900px 1490px #FFF , 81px 934px #FFF , 561px 1679px #FFF , 1707px 1761px #FFF , 635px 1724px #FFF , 1490px 1563px #FFF , 817px 839px #FFF , 1249px 530px #FFF , 1123px 1450px #FFF , 930px 333px #FFF , 957px 474px #FFF , 1579px 415px #FFF , 925px 435px #FFF , 235px 7px #FFF , 1985px 1217px #FFF , 1993px 789px #FFF , 1222px 1645px #FFF , 1405px 1105px #FFF , 703px 469px #FFF , 1170px 1303px #FFF , 1015px 477px #FFF , 23px 1724px #FFF , 1020px 1131px #FFF , 1951px 921px #FFF , 1430px 7px #FFF , 869px 686px #FFF , 1248px 1582px #FFF , 1614px 617px #FFF , 553px 522px #FFF;
}
#stars-large {
  will-change: transform;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1610px 1622px #FFF , 1099px 1148px #FFF , 1901px 1458px #FFF , 1008px 619px #FFF , 1155px 1868px #FFF , 907px 147px #FFF , 1585px 434px #FFF , 724px 516px #FFF , 1907px 1130px #FFF , 1726px 948px #FFF , 1891px 570px #FFF , 840px 1198px #FFF , 111px 403px #FFF , 643px 1530px #FFF , 1633px 179px #FFF , 441px 349px #FFF , 971px 824px #FFF , 1372px 1527px #FFF , 163px 523px #FFF , 1943px 611px #FFF , 70px 1207px #FFF , 1458px 621px #FFF , 1592px 1172px #FFF , 755px 1821px #FFF , 1074px 812px #FFF , 1416px 1048px #FFF , 664px 578px #FFF , 1981px 1225px #FFF , 1944px 1576px #FFF , 603px 1324px #FFF , 196px 1612px #FFF , 1210px 1373px #FFF , 1781px 1691px #FFF , 678px 1894px #FFF , 1057px 160px #FFF , 1334px 679px #FFF , 1616px 1963px #FFF , 61px 1791px #FFF , 1414px 1189px #FFF , 74px 145px #FFF , 1696px 1325px #FFF , 382px 1643px #FFF , 1155px 225px #FFF , 1088px 1484px #FFF , 1352px 146px #FFF , 825px 743px #FFF , 1074px 275px #FFF , 871px 623px #FFF , 1702px 418px #FFF , 1687px 771px #FFF , 753px 1582px #FFF , 841px 1449px #FFF , 1527px 405px #FFF , 1422px 37px #FFF , 345px 535px #FFF , 1734px 447px #FFF , 464px 557px #FFF , 923px 458px #FFF , 487px 1109px #FFF , 669px 957px #FFF , 1681px 1471px #FFF , 1450px 254px #FFF , 1805px 664px #FFF , 567px 529px #FFF , 1060px 1619px #FFF , 186px 343px #FFF , 792px 1892px #FFF , 159px 669px #FFF , 1374px 1380px #FFF , 303px 161px #FFF , 1610px 861px #FFF , 790px 1213px #FFF , 997px 1755px #FFF , 1487px 1962px #FFF , 1796px 193px #FFF , 1267px 1662px #FFF , 1055px 512px #FFF , 912px 992px #FFF , 735px 1682px #FFF , 1170px 1130px #FFF , 1713px 1432px #FFF , 171px 1190px #FFF , 1522px 259px #FFF , 1162px 959px #FFF , 1374px 1443px #FFF , 1008px 1977px #FFF , 1779px 960px #FFF , 62px 476px #FFF , 1755px 635px #FFF , 1310px 964px #FFF , 355px 1888px #FFF , 1964px 805px #FFF , 1769px 603px #FFF , 186px 1627px #FFF , 1702px 43px #FFF , 1770px 439px #FFF , 1405px 240px #FFF , 1382px 233px #FFF , 838px 1991px #FFF , 179px 681px #FFF;
}
#stars-large:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1610px 1622px #FFF , 1099px 1148px #FFF , 1901px 1458px #FFF , 1008px 619px #FFF , 1155px 1868px #FFF , 907px 147px #FFF , 1585px 434px #FFF , 724px 516px #FFF , 1907px 1130px #FFF , 1726px 948px #FFF , 1891px 570px #FFF , 840px 1198px #FFF , 111px 403px #FFF , 643px 1530px #FFF , 1633px 179px #FFF , 441px 349px #FFF , 971px 824px #FFF , 1372px 1527px #FFF , 163px 523px #FFF , 1943px 611px #FFF , 70px 1207px #FFF , 1458px 621px #FFF , 1592px 1172px #FFF , 755px 1821px #FFF , 1074px 812px #FFF , 1416px 1048px #FFF , 664px 578px #FFF , 1981px 1225px #FFF , 1944px 1576px #FFF , 603px 1324px #FFF , 196px 1612px #FFF , 1210px 1373px #FFF , 1781px 1691px #FFF , 678px 1894px #FFF , 1057px 160px #FFF , 1334px 679px #FFF , 1616px 1963px #FFF , 61px 1791px #FFF , 1414px 1189px #FFF , 74px 145px #FFF , 1696px 1325px #FFF , 382px 1643px #FFF , 1155px 225px #FFF , 1088px 1484px #FFF , 1352px 146px #FFF , 825px 743px #FFF , 1074px 275px #FFF , 871px 623px #FFF , 1702px 418px #FFF , 1687px 771px #FFF , 753px 1582px #FFF , 841px 1449px #FFF , 1527px 405px #FFF , 1422px 37px #FFF , 345px 535px #FFF , 1734px 447px #FFF , 464px 557px #FFF , 923px 458px #FFF , 487px 1109px #FFF , 669px 957px #FFF , 1681px 1471px #FFF , 1450px 254px #FFF , 1805px 664px #FFF , 567px 529px #FFF , 1060px 1619px #FFF , 186px 343px #FFF , 792px 1892px #FFF , 159px 669px #FFF , 1374px 1380px #FFF , 303px 161px #FFF , 1610px 861px #FFF , 790px 1213px #FFF , 997px 1755px #FFF , 1487px 1962px #FFF , 1796px 193px #FFF , 1267px 1662px #FFF , 1055px 512px #FFF , 912px 992px #FFF , 735px 1682px #FFF , 1170px 1130px #FFF , 1713px 1432px #FFF , 171px 1190px #FFF , 1522px 259px #FFF , 1162px 959px #FFF , 1374px 1443px #FFF , 1008px 1977px #FFF , 1779px 960px #FFF , 62px 476px #FFF , 1755px 635px #FFF , 1310px 964px #FFF , 355px 1888px #FFF , 1964px 805px #FFF , 1769px 603px #FFF , 186px 1627px #FFF , 1702px 43px #FFF , 1770px 439px #FFF , 1405px 240px #FFF , 1382px 233px #FFF , 838px 1991px #FFF , 179px 681px #FFF;
}
